<ul>
    <li *ngFor="let user of activeUsers" style='color:green;'>
        {{user.name}}
        <button (click)="changeState(user)" 
            style='color:blue;'>set_inactive</button>
    </li>
    <li *ngFor="let user of inactiveUsers" style='color:red;'>
        {{user.name}}
        <button (click)="changeState(user)"
            style='color:purple;'>set_active</button>
    </li>
</ul>
<span>{{getCounter()}}</span>
