<button 
    (click)="Start()"
    *ngIf="started===false">
    Start game
</button>
<button 
    (click)="Stop()"
    *ngIf="started===true">
    Stop game
</button>
<ul *ngIf="events.length > 0">
    <li *ngFor='let event of events'>
        <app-even *ngIf="event=='even'"></app-even> 
        <app-odd *ngIf="event=='odd'"></app-odd>
    </li>
</ul>
